
__pycache__/
*.py[cod]
*$py.class
*.bak
*.egg-info
.DS_Store
.cache
.mypy_cache
devnotes
junk
build
_build
dist
.pytest_cache/
.tox/
.eggs/
.coverage
docs/build

quantumflow/version.py
docs/_templates/version.html

devnotes*.txt

.ipynb_checkpoints