## A slimmed down requirements file for readthedocs

numpy
scipy               >= 1.0.0
networkx            >= 2.1
pillow
matplotlib
cvxpy               >= 1.0.24
sympy
opt_einsum
# tensorflow          >= 2.0.0


## Development

sphinx              >= 1.6.6
# pytest              >= 2.6.0
# pytest-cov
# flake8
# tox
# mypy
setuptools_scm


## Optional Extras

pyquil	        >= 2.0.0b1
cirq								# Not installable via conda
qiskit								# Not installable via conda

## Needed for document generation
guzzle_sphinx_theme					# Not installable via conda
sphinxcontrib-bibtex				# Not installable via conda
