# This workflow will install the python package and dependencies, and run tests against a variety of Python versions

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 13 * * *"  # Every day at 1pm UTC (6am PST)

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      with: 
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install base
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
        python -m pip install pytest
    - name: Test with pytest (Tests should pass without extra dependancies installed)
      run: |
        python -m $(python -Wi setup.py --name).about
        python -m pytest
    - name: Install extra dependencies
      if: runner.os == 'Linux'
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        python -m pip install .[dev]  # install package + test dependencies
    - name: Install extra Linux dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install texlive texlive-latex-extra latexmk poppler-utils
        mkdir -p ~/texmf/tex/latex
        wget http://mirrors.ctan.org/graphics/pgf/contrib/quantikz/tikzlibraryquantikz.code.tex -P ~/texmf/tex/latex
    - name: About
      if: runner.os == 'Linux'
      run: |
        python -m $(python -Wi setup.py --name).about
        echo
        pdflatex --version
        pdftocairo -v
    - name: Test coverage with pytest
      if: runner.os == 'Linux'
      run: |
        python -m pytest --cov --cov-fail-under 95
    - name: Lint with black and isort (run `make delint` to fix issues)
      if: runner.os == 'Linux'
      run: |
        python -m pip install black --upgrade  # Weirdly one of the optimal dependencies downgrades black 
        black --check .  
        isort --check -m 3 --tc .
    - name: Lint with flake8
      if: runner.os == 'Linux'
      run: |
        flake8 .            
    - name: Typecheck with mypy
      if: runner.os == 'Linux'
      run: |
        mypy
    - name: Build documentation with sphinx
      if: runner.os == 'Linux'
      run: |
        sphinx-build -M html docs docs/_build
    - name: Test notebooks (against master)
      if: runner.os == 'Linux'
      run: |
        pytest --nbmake tutorial
    - name: Test with all supported minor versions of cirq
      if: runner.os == 'Linux'
      run: |
        python -m pip install cirq~=0.8.0
        python -m pytest quantumflow/xcirq_test.py    
        python -m pip install cirq~=0.9.0
        python -m pytest quantumflow/xcirq_test.py
        python -m pip install cirq~=0.10.0
        python -m pytest quantumflow/xcirq_test.py

